*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #110033;
}

html,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  background: linear-gradient(to top right, #060014, #110033);
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  line-height: 1.3;
}

a {
  color: #33ff66;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.5rem 0;
  padding: 0.5rem;
  margin: 0 0 1.5rem 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
}

button:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

button:active {
  background-color: #d0d0d0;
  border-color: #777;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

small {
  display: block;
  font-size: 0.6rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
  padding: 2px 5px;
  white-space: nowrap;
  font-family: Helvetica, monospace;
}

ul {
  margin-left: 0;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

li {
  margin-bottom: 0.25rem;
}

main {
  margin: 0 auto;
  max-width: 900px;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: white;
}

h1 {
  font-size: 1.6rem;
  font-weight: 400;
}

h2 {
  font-size: 1.3rem;
  font-weight: 300;
}

h3 {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.flex {
  display: flex;
  gap: 1rem;
}

.col {
  flex-direction: column;
  align-items: center;
}

.layout {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .layout {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}

.keyboard-side,
.information-side {
  padding: 1rem;
}

.keyboard-side {
  order: 1;
  align-self: center;
}

.information-side {
  order: 2;
}

.information {
  padding: 1.5rem;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.accordion-layout {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.row.one,
.row.three {
  margin-top: 35px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  background: linear-gradient(to top, #f7f7f7, #e7e7e7);
  box-shadow: 0px 6px rgba(255, 255, 255, 0.4);
  color: #444;
  font-weight: 600;
  cursor: pointer;
}

.circle:hover {
  background: linear-gradient(to bottom, #cac8c8, #e7e7e7);
  box-shadow: 0px 6px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.circle:active,
.circle.active {
  background: linear-gradient(to bottom, #33ff66, #56ea7b);
  box-shadow: 0px 6px rgba(255, 255, 255, 0.2);
}

.currently-playing {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 80px;
}

@media screen and (min-width: 600px) {
  .currently-playing {
    min-height: 200px;
  }
}

.circle.note {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.banner {
  border: 1px solid #f15050;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
  color: #f37272;
  background: rgba(0, 0, 0, 0.4);
}

.desktop-only {
  display: none !important;
}

.mobile-only {
  display: block !important;
}

@media screen and (min-width: 600px) {
  body {
    display: flex;
    align-items: center;
  }

  .desktop-only {
    display: flex !important;
  }

  .mobile-only {
    display: none !important;
  }

  .keyboard-side {
    order: 2;
  }

  .information-side {
    order: 1;
  }
}
